.text-center
  %h1 Welcome to TypeEverything

  %h3 We like to Type things. Do you?

  %br
  %br

  .row
    .col-md-6.text-center
      = link_to "Celebrities", {controller: 'figures', action: 'custom', category: :celebrities} , {class: 'btn btn-primary btn-lg'}

    .col-md-6.text-center
      = link_to "Historical Figures", {controller: 'figures', action: 'custom', category: :historical_figures} , {class: 'btn btn-primary btn-lg'}

  %br 
  %br

  .row
    .col-md-6.text-center
      = link_to "Scientists", {controller: 'figures', action: 'custom', category: :scientists} , {class: 'btn btn-primary btn-lg'}

    .col-md-6.text-center
      = link_to "Public Figures", {controller: 'figures', action: 'custom', category: :public_figures} , {class: 'btn btn-primary btn-lg'}

  .row
    .col-md-offset-3.col-md-6.text-center
      = link_to "Play", {controller: 'game', action: 'type'}, {class: 'btn btn-primary btn-lg'}
