#play-container{ :style => "background-image: url('#{asset_url @figure_image}');" }
  .play-container-shade

    #figure-info-wrapper
      .row
        .col-md-12
          .highlighted.text-center
            %h1#figure-name #{@figure.name.upcase}
            %h1#figure-description #{@figure.display_description}
      
      .row
        .col-md-offset-8.col-md-2
          #next-button-holder
            %a{href: '/type', class: 'btn mbti-btn btn-lg', id: 'next-button'} 
              %i.fa.fa-chevron-circle-right.fa-3x#next-button-arrow

#slideout-menu-area
  #slideout-menu
    .container
      .row
        .col-md-12
          #play-buttons-holder
            #play-buttons-text
              / TYPE?
            #play-buttons.text-center
              = form_for(@vote) do |f|
                = f.hidden_field(:figure_id)

                .row
                  .col-md-3
                    %h4.play-buttons-title CHAMPIONS
                  .col-md-3
                    %h4.play-buttons-title RATIONALS
                  .col-md-3
                    %h4.play-buttons-title ARTISANS
                  .col-md-3
                    %h4.play-buttons-title SENTINELS
                .row
                  .col-md-3
                    = f.submit("ENFP", class: 'btn material-btn mbti-btn btn-lg', id: 'enfp-btn')
                    = f.submit("ENFJ", class: 'btn material-btn mbti-btn btn-lg', id: 'enfj-btn')

                  .col-md-3
                    = f.submit("INTP", class: 'btn material-btn mbti-btn btn-lg', id: 'intp-btn')
                    = f.submit("INTJ", class: 'btn material-btn mbti-btn btn-lg', id: 'intj-btn')

                  .col-md-3
                    = f.submit("ESTP", class: 'btn material-btn mbti-btn btn-lg', id: 'estp-btn')
                    = f.submit("ESFP", class: 'btn material-btn mbti-btn btn-lg', id: 'esfp-btn')

                  .col-md-3
                    = f.submit("ISFJ", class: 'btn material-btn mbti-btn btn-lg', id: 'isfj-btn')
                    = f.submit("ISTJ", class: 'btn material-btn mbti-btn btn-lg', id: 'istj-btn')
                    
                .row
                  .col-md-3
                    = f.submit("INFP", class: 'btn material-btn mbti-btn btn-lg', id: 'infp-btn')
                    = f.submit("INFJ", class: 'btn material-btn mbti-btn btn-lg', id: 'infj-btn')

                  .col-md-3
                    = f.submit("ENTP", class: 'btn material-btn mbti-btn btn-lg', id: 'entp-btn')
                    = f.submit("ENTJ", class: 'btn material-btn mbti-btn btn-lg', id: 'entj-btn')

                  .col-md-3
                    = f.submit("ISTP", class: 'btn material-btn mbti-btn btn-lg', id: 'istp-btn')
                    = f.submit("ISFP", class: 'btn material-btn mbti-btn btn-lg', id: 'isfp-btn')

                  .col-md-3
                    = f.submit("ESFJ", class: 'btn material-btn mbti-btn btn-lg', id: 'esfj-btn')
                    = f.submit("ESTJ", class: 'btn material-btn mbti-btn btn-lg', id: 'estj-btn')
                                                               
          
:javascript
  console.log("Doing the JS thing");
  BackgroundCheck.init({
    targets: '.mbti-btn, #figure-name, #figure-description, #slideout-menu',
    images: '#play-container'
  });