<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Describe Your Figure!</h4>
      </div>
      <%= form_for [:api_v1, Figure.new] do |f| %>
        <div class="form-group" id="figure-properties">
          <%= f.label 'Name: ', class: 'figure-attr-label' %>
          <%= f.text_field :name, class: "form-control", placeholder: "Benjamin Franklin" %>
          <%= f.label 'Description: ', class: 'figure-attr-label' %>
          <%= f.text_field :description, class: "form-control", placeholder: "Diplomat, Inventor, Guy Who Flew A Kite In A Lightning Storm", maxlength: 40 %>
        </div>
        <div class="form-group">
          <%= f.hidden_field :figure_category_id, value: :tv_movie_and_fictional_characters %>
        </div>

        <%= f.fields_for :mythos do |mythos_fields| %>
          <div class="form-group">
            <%= mythos_fields.label :name, 'Where is this character from?' %>
            <%= mythos_fields.select :category, Mythos.categories.map {|k,v| [k.humanize.capitalize, v]} %>
          </div>
          <div class="form-group">
            <%= mythos_fields.label :name, 'Name of Movie, Show, or Book:' %>
            <%= mythos_fields.text_field :name, class: 'form-control', placeholder: 'Game of Thrones', id: 'mythos-name' %>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.fields_for :figure_images do |img_fields| %>
            <div class='image-warning'>
              Please Note:
              <br>
              Images must be high-quality, at least 1600 x 1200px or greater to be considered.
              <br>
              Google Images is a good resource.
            </div>

            <label for="figure_figure_images_url" class="figure-attr-label">Image URL: </label>
            <%= img_fields.text_field :url, class: "form-control", placeholder: 'https://en.wikipedia.org/wiki/Ben_Franklin_800_600.jpg', id: 'upload-figure-url' %>

            <label for="figure_figure_images_uploaded_by" class="figure-attr-label">Your Name (for credit, feel free to use a handle to contribute anonymously): </label>
            <%= img_fields.text_field :uploaded_by, class: "form-control", placeholder: 'A Secret Admirer'%>
          <% end %>
        </div>
        <div class="modal-footer form-inline">
          <div class="form-group">
            <button type="button" class="btn btn-default form-control" data-dismiss="modal">
              Close
            </button>
            <%= f.submit "Submit", class: 'btn btn-primary form-control' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

