%h1.text-center Game On!

.row
  .col-md-offset-1.col-md-10
    #play-img-holder
      = image_tag(@figure.rand_image.url, class: 'img img-responsive full-screen center', alt: @figure.name)
      
.row
  .col-md-offset-3.col-md-6
    #play-buttons-holder
      = form_tag('/play', method: :post) do
        = hidden_field_tag :figure, @figure.id
        .row
          .col-md-3
            = submit_tag("ISFJ", class: 'btn btn-primary btn-lg')

          .col-md-3
            = submit_tag("ISFP", class: 'btn btn-primary btn-lg')

          .col-md-3
            = submit_tag("ESFJ", class: 'btn btn-primary btn-lg')

          .col-md-3
            = submit_tag("ESFP", class: 'btn btn-primary btn-lg')
      
        %br
        .row
          .col-md-3
            = submit_tag("ISTJ", class: 'btn btn-primary btn-lg')

          .col-md-3
            = submit_tag("ISTP", class: 'btn btn-primary btn-lg')

          .col-md-3
            = submit_tag("ESTJ", class: 'btn btn-primary btn-lg')

          .col-md-3
            = submit_tag("ESTP", class: 'btn btn-primary btn-lg')

        %br
        .row
          .col-md-3
            = submit_tag("INTJ", class: 'btn btn-primary btn-lg')

          .col-md-3
            = submit_tag("INTP", class: 'btn btn-primary btn-lg')

          .col-md-3
            = submit_tag("ENTJ", class: 'btn btn-primary btn-lg')

          .col-md-3
            = submit_tag("ENTP", class: 'btn btn-primary btn-lg')

        %br
        .row
          .col-md-3
            = submit_tag("INFJ", class: 'btn btn-primary btn-lg')

          .col-md-3
            = submit_tag("INFP", class: 'btn btn-primary btn-lg')

          .col-md-3
            = submit_tag("ENFJ", class: 'btn btn-primary btn-lg')

          .col-md-3
            = submit_tag("ENFP", class: 'btn btn-primary btn-lg')

    
