<!DOCTYPE html>
<html>
<head>
  <title>TypeEverything - MBTI Types for Everything</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" id="flash">
    <%= render partial: 'shared/flash' %>
  </div>
  
  <div class="" id="content-wrapper">
    <div class="container">
      <%= yield %>
    </div>
  </div>
  
</body>
</html>