<!DOCTYPE html>
<html>
<head>
  <title>TypeEverything - MBTI Types for Everything</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render 'shared/flash' %>
  <%= render 'shared/navbar' %>  
  <%= render 'shared/upload_modal' %>
  <div class="" id="content-wrapper">
    <%= yield %>
  </div>
  
</body>
</html>
